@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap');
.header_list {
	font-family: Heebo;
	margin-top: 37px;
	margin-left: 37px;
}
.header_wrapper {
	font-family: Heebo;
	font-weight: medium;
	font-size: 20;
}
